/* horizonal menu */

.menu{
    position: fixed;
    font-size: 12px;
    text-align: center;
    width: 100%;
    top: 0px;
    white-space: nowrap;
    background-color: #C0C0C0; 
    z-index: 999;
    
}

.menu ul{
    margin: 0; 
    padding-left: 5px;
    float: left;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 19px;
    background-color: #C0C0C0; 
    
}

.menu ul li a:visited{
    color: white;
}

.menu ul li a:hover, .menu ul li .active{
    color: #fff;
    /*  Reds */
    /*background-color: #987777;*/
    /*background-color: #b22222;*/
    /*  Blues */
   /* background-color: #8197A8;*/
    background-color: #7187A8;
    /*   Green */
    /* background-color: #619877;*/
    /*   Brownish */
    /* background-color: #987761;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}



/*   vertical menu */
/*
.menu ul {
	list-style: none;
	margin: 0;
    
}

.menu li{
	font-family: 'Helvetica', Arial, Verdana, sans serif;
    
}

.menu li a:link, .menu li a:visited {
    background: #617798;
	font-size: 15px;
	display: block;

	margin-top:-10px;
	color: #43433e;
	text-decoration: none;
	right:11px;
}

.menu li a:hover, .menu li a:focus .active{
    background: #C0C0C0;
	color: #fff;
	margin-top:-10px;
}

.menu li a {
	 background: #617798;
	color: #fff;
	left:-25px;
	padding:18px 18px 18px 40px;
	width:174px;

}
*/