
body{
    background: #333;
}

.rounded-corners {
     -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}
#wrapper {
    width: 780px;
    margin: 0 auto;
    background: #ffffff;
    text-align: left;

}
#search_school{
    margin: 0 auto;
}

.search{
    padding: 0 0 0 0;
    font-kerning: auto;
    font-weight: bold;
    font-size:20px;
    margin-bottom: 1em;
    text-align: left;
    text-indent: 30px;
    width: 640px;
    background: transparent url("/includes/images/search.png") no-repeat;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    outline: 0;
}

#title {
    text-align: center;
    font-size:24px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer{
    text-align: center;
    background: #555;
    width: 780px;
    margin: 10px auto 0px auto;
}
#button {
    width: 670px;
    margin: 0 auto;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande',
        Verdana, Lucida, Geneva, Helvetica, 
        Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

#button ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#button tr {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #8B0000;
    border-bottom: 1px solid #CD5C5C;
    background-color: #b22222;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
#button td {
    width: 210px;
}
#button th {
    width: 210px;
}

#button li  {
    height: 40px;
    background-color: #b22222;
    border-left: 10px solid #8B0000;
    border-bottom: 1px solid #CD5C5C;
    margin: 0;
}

#button li a {
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
}

.school_website_url{
    position: relative;
    top: 2.5px;
    width: auto;
}
#button tr:hover {   
    background-color: #8B0000;
    color: #fff;
}

.school_website_url:hover{
    background-color: #8B0000;
    color: #fff;
}

.information_alert img{
    position: relative;
    border: none;  
    width:24px;
    height:24px;
    top: 5px;
}
/* --------------  Details on an individual item ----------------- */
#details {
    width: 670px;
    margin: 0 auto;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Grande',
        Verdana, Lucida, Geneva, Helvetica, 
        Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

#details ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    color: #ffffff;
}

#details li {
     position: relative;
    height: 40px;
    background-color: #b22222;
    border-left: 10px solid #8B0000;
    border-bottom: 1px solid #CD5C5C;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#details li a {
    position: relative;
     padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    width: auto;
   
}

#details li a:hover {
    padding: 5px 5px 5px 5px;
    background-color: #8B0000;
    color: #fff;
    text-decoration: none;
}

/* --------------  FAQ Page ----------------- */


#button .question {
    background: #c11111;
    padding-left: 10px;
    color: #000000;
    
    padding: 5px;
    font-kerning: normal;
}

#button .answer {
    background: #c33333;
    padding-left: 10px;
    color: #efefef;
    
    padding: 5px;
    font-kerning: normal;
}
/* The Q or A in front of the text string */
#button .marker {
    
    padding-left: 5px;
    padding-right: 5px;
    
    margin-right:5px;
    
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    
    border-radius: 10px;
    font-weight: bold;
    
    outline: 0;
}

#button .question_marker {
    background: #000000;
    color: #eeeeee;

}

#button .answer_marker {
    background: #eeeeee;
    color: #000000;
}

/*------------------ Listing Div   ----------*/

.listing {
   margin-top: 6px;
   color: #EFEFEF;
}


/*------------- Form input -----------------*/

form{
    display: block;
    margin-left: 100px;
    padding-bottom: 10px;
 
}

input {


	outline: none;
	background-color: white;
	color: #3C3C46;
    width: 417px;
}
 
input :hover {
	background-color: #66C;
	color: white;
}
 
textarea, select, input {
    margin-left: 25px;
	color: #667;
	padding: 7px;
	border: 1px solid #CCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}

#submit {
    background: #e3e3e6;
    cursor: pointer;
}
.dynamic_list{
    width: 400px;
    margin-left: 35px;
    
}
.dynamic_list ul{
    border: 2px solid #CECECE;
    list-style: none;
    background: #EFEFEF;
    
}
