body {
    font: 1em Verdana, Arial, Helvetica, sans-serif;
    background: #ccc;
    color: #000;
    text-align: center; /* Centers the container */
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 780px; /* 780px is just wide enough to fill and 800px screen */
    margin: 0 auto; /* It's important to set the margin to auto if you want the layout to center */
    background: #fff;
    text-align: left;
    border: 1px solid #999; 
}

.alert_content{
    width:100%;
    background:#ff0000;
}

.banner{
    width:100%;
    height:60px;
    background:#45ff78;
}
.sub_banner{
    width:100%;
    height:20px;
    background:#ffffff;
}

.column_content{
    float:left;
    width:25%;
    height:90%;
    background:#ff9900;
}

#footer { 
    background: #999;
    clear: both;
}